.idea/                
.vscode/  
.vscode/settings.json            
venv/
env/
.venv/
*/venv/
*/env/
*/.venv/

.conda/
.mamba/

.poetry/

*.pyc
__pycache__/
*/__pycache__/
.pytest_cache/


*.so
*.pyd
*.dll
*.o

.coverage
.coverage.*
htmlcov/
.nox/

/docs/_build/

*.log
*.sqlite3          
db.sqlite3         

*.csv
*.zip
*.tar.gz
*.pkl
*.data

.ipynb_checkpoints

*.key
*.pem
*.cer
.env                
.flaskenv

log/
wandb/
log-debug/
log-debug_old/
